<!-- RDT:  exchangeRatesAPI -->
<h1 id="fxrates">Todays Travel Exchange Rates - Top Destinations:</h1>
<!-- RDT day.js API-->
<p id="day"></p>
<div id="EURUSD"></div>
<div id="GBPUSD"></div>
<div id="USDCAD"></div>
<div id="USDBRL"></div>
<div id="USDMXN"></div>
<div id="USDJPY"></div>
<br>


<!-- <h1 id="travelBlog">Travel Blog - Top Conversations:</h1> -->

<!-- RDT:  Customer Review -->
<h1 class="reviews" id="reviews">What our Travelers are Saying</h1>
<div class="outerdiv">
  <div class="innerdiv">
    <!-- div1 -->
    <div class="div1 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name2">Daniel Clifford</p>
          <p class="designation2">Trip to Spain</p>
        </div>
      </div>
      <div class="review2">
        <h4>This website helped me properly prepare for my trip to Spain, was invaluable! </h4>
        <p>“Best Travel Website out there!!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div2 -->
    <div class="div2 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name">Jonathan Walters</p>
          <p class="designation">Trip to Africa</p>
        </div>
      </div>
      <div class="review">
        <h4>A huge help in preparing for international travel!</h4>
        <p>“Highly recommend this site for international travelers!!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div3 -->
    <div class="div3 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name dark">Kira Whittle</p>
          <p class="designation dark">Trip to London</p>
        </div>
      </div>
      <div class="review dark">
        <h4>Useful, practical information to help plan for any overseas traveling!</h4>
        <p>“Great travel website!!"</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div4 -->
    <div class="div4 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name dark">Jeanette Harmon</p>
          <p class="designation dark">Trip to Mexico</p>
        </div>
      </div>
      <div class="review dark">
        <h4>Helped me lock in the best possible FX rate before my trip!</h4>
        <p>“ This website gave me the tools i needed to lock in the best FX rate possible!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div5 -->
    <div class="div5 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-patrick.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name">Patrick Abrams</p>
          <p class="designation">Trip to Brazil</p>
        </div>
      </div>
      <div class="review">
        <h4>Easy to use website with a ton of useful travel information!</h4>
        <p>“ 5 Stars!!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
  </div>
</div>
<br/>

<!-- RDT:  About Me -->
<h1>About Us</h1>
<p id="aboutUs">"Our mission is to help make your travel plans easier!  Find and plan for exchanging your foreign currency, research a destination on our travel blogs, and so much more!</p>
<div class="container">
  
</div>


<!-- RDT Personal chatbot Bubble AI -->
<h1 id="chatBot"></h1>
  <!-- RDT personal chatbot AI -->
  <iframe 
src="https://www.chatbase.co/chatbot-iframe/iVMIDd7GwDrYOkddrchHA"
title="Chatbot"
width="100%"
style="height: 100%; min-height: 550px"
frameborder="0"
></iframe>
<script>
  window.embeddedChatbotConfig = {
  chatbotId: "iVMIDd7GwDrYOkddrchHA",
  domain: "www.chatbase.co"
  }
  </script>
  <script
  src="https://www.chatbase.co/embed.min.js"
  chatbotId="iVMIDd7GwDrYOkddrchHA"
  domain="www.chatbase.co"
  defer>
  </script>
    <!-- Footer PLaceholder from ZURB Foundation -->
<section class="contact-us-section">
    <div class="row medium-unstack">
      <div class="columns contact-us-section-left">
  
        <ul class="contact-us-list">
          <li class="address">Brooklyn, New York City</li>
          <li class="email">support@travel.com<a href="mailto:"></a></li>
          <!-- <li class="phone">
            1 (704) 574 9665 -->
          </li>
        </ul>
      </div>
      <div class="columns contact-us-section-right">
        <h1 class="contact-us-header">Mail Us</h1>
        <form class="contact-us-form">
          <input type="text" placeholder="Full name">
          <input type="email" placeholder="Email">
          <textarea name="message" id="" rows="12" placeholder="Type your message here"></textarea>
          <div class="contact-us-form-actions">
            <input type="submit" class="button" value="Send it" />
            <div>
              <label for="FileUpload" class="button contact-us-file-button">Attach Files</label>
              <input type="file" id="FileUpload" class="show-for-sr">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>