<div class="login-benefits">  
  <h2>
    <p>Benefits of FREE signup</p>
    <p>Access to our Travel AI Chatbot</p>
    <p>Access to our Foreign Currency Purchasing Power Calculator</p>
  </h2>
</div>
 
<br>

    <!--    Start Login Section (Mark)    -->

    <div class="container-fluid">
      <div class="row grid gap-5 justify-content-center">
          <div class="col-md-3">
            <h2 class="login-title">Login</h2>
            <form class="form login-form p-3">
              <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-login" placeholder="Email"/>
              </div>
              <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" placeholder="Password"/>
              </div>
              <div class="form-group">
                <button class="btn btn-outline-primary login-btn col-4" type="submit">Login</button>
              </div>
            </form>
          </div>
  
          <div class="col-md-3">
            <h2 class="login-title">Register Today!</h2>
            <form class="form signup-form p-3" action="/register" method="POST">
              <div class="form-group">
                <label for="name-signup">Name:</label>
                <input class="form-input" type="text" id="name-signup" name="name" placeholder="Your Name" required/>
              </div>
              <div class="form-group">
                <label for="email-signup">Email:</label>
                <input class="form-input" type="email" id="email-signup" name="email" placeholder="Email" required/>
              </div>
              <div class="form-group">
                <label for="password-signup">Create Password:</label>
                <input class="form-input" type="password" id="password-signup" name="password" placeholder="Password" required/>
              </div>
              <div class="form-group">
                  <label for="password-signup">Retype Password:</label>
                  <input class="form-input" type="password" id="confirm-password-signup" name="confirmPassword" placeholder="Retype Password" required/>
                </div>
              <div class="form-group">
                <button class="btn btn-outline-primary login-btn col-4" type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- RDT:  Customer Review -->
<h1 class="reviews" id="reviews">What our Travelers are Saying</h1>
<div class="outerdiv">
  <div class="innerdiv">
    <!-- div1 -->
    <div class="div1 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name2">Daniel Clifford</p>
          <p class="designation2">Trip to Spain</p>
        </div>
      </div>
      <div class="review2">
        <h4>This website helped me properly prepare for my trip to Spain, was invaluable! </h4>
        <p>“Best Travel Website out there!!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div2 -->
    <div class="div2 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name">Jonathan Walters</p>
          <p class="designation">Trip to Africa</p>
        </div>
      </div>
      <div class="review">
        <h4>A huge help in preparing for international travel!</h4>
        <p>“Highly recommend this site for international travelers!!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div3 -->
    <div class="div3 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name dark">Kira Whittle</p>
          <p class="designation dark">Trip to London</p>
        </div>
      </div>
      <div class="review dark">
        <h4>Useful, practical information to help plan for any overseas traveling!</h4>
        <p>“Great travel website!!"</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div4 -->
    <div class="div4 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name dark">Jeanette Harmon</p>
          <p class="designation dark">Trip to Mexico</p>
        </div>
      </div>
      <div class="review dark">
        <h4>Helped me lock in the best possible FX rate before my trip!</h4>
        <p>“ This website gave me the tools i needed to lock in the best FX rate possible!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
    <!-- div5 -->
    <div class="div5 eachdiv">
      <div class="userdetails">
        <div class="imgbox">
          <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-patrick.jpg" alt="">
        </div>
        <div class="detbox">
          <p class="name">Patrick Abrams</p>
          <p class="designation">Trip to Brazil</p>
        </div>
      </div>
      <div class="review">
        <h4>Easy to use website with a ton of useful travel information!</h4>
        <p>“ 5 Stars!!”</p>
        <p>⭐⭐⭐⭐⭐</p>
      </div>
    </div>
  </div>
</div>
<br/>

<!-- RDT:  About Me -->
<h1>About Us</h1>
<p id="aboutUs">"Our mission is to help make your travel plans easier!  Find and plan for exchanging your foreign currency, research a destination on our travel blogs, and so much more!</p>
<div class="container">
  
</div>

          <!-- Footer PLaceholder from ZURB Foundation -->
<section class="contact-us-section">
    <div class="row medium-unstack">
      <div class="columns contact-us-section-left">
  
        <ul class="contact-us-list">
          <li class="address">Brooklyn, New York City</li>
          <li class="email">support@travel.com<a href="mailto:"></a></li>
          <!-- <li class="phone">
            1 (704) 574 9665 -->
          </li>
        </ul>
      </div>
      <div class="columns contact-us-section-right">
        <h1 class="contact-us-header">Mail Us</h1>
        <form class="contact-us-form">
          <input type="text" placeholder="Full name">
          <input type="email" placeholder="Email">
          <textarea name="message" id="" rows="12" placeholder="Type your message here"></textarea>
          <div class="contact-us-form-actions">
            <input type="submit" class="button" value="Send it" />
            <div>
              <label for="FileUpload" class="button contact-us-file-button">Attach Files</label>
              <input type="file" id="FileUpload" class="show-for-sr">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

      <script src="./js/login.js"></script>
