<div class="login-benefits">  
  <h2>
    <p>Benefits of FREE signup</p>
    <p>Access to our Travel AI Chatbot</p>
    <p>Access to our Foreign Currency Purchasing Power Calculator</p>
  </h2>
</div>
 
<br>

    <!--    Start Login Section (Mark)    -->

    <div class="container-fluid">
      <div class="row grid gap-5 justify-content-center">
          <div class="col-md-3">
            <h2 class="login-title">Login</h2>
            <form class="form login-form p-3">
              <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-login" placeholder="Email"/>
              </div>
              <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" placeholder="Password"/>
              </div>
              <div class="form-group">
                <button class="btn btn-outline-primary login-btn col-4" type="submit">Login</button>
              </div>
            </form>
          </div>
  
          <div class="col-md-3">
            <h2 class="login-title">Register Today!</h2>
            <form class="form signup-form p-3" action="/register" method="POST">
              <div class="form-group">
                <label for="name-signup">Name:</label>
                <input class="form-input" type="text" id="name-signup" name="name" placeholder="Your Name" required/>
              </div>
              <div class="form-group">
                <label for="email-signup">Email:</label>
                <input class="form-input" type="email" id="email-signup" name="email" placeholder="Email" required/>
              </div>
              <div class="form-group">
                <label for="password-signup">Create Password:</label>
                <input class="form-input" type="password" id="password-signup" name="password" placeholder="Password" required/>
              </div>
              <div class="form-group">
                  <label for="password-signup">Retype Password:</label>
                  <input class="form-input" type="password" id="confirm-password-signup" name="confirmPassword" placeholder="Retype Password" required/>
                </div>
              <div class="form-group">
                <button class="btn btn-outline-primary login-btn col-4" type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--    End Login Section (Mark)    -->