    <!--    Start Destination Selection (Mark)    -->
  <div class="container-fluid">
    <div class="row grid justify-content-center">
      <div class="country-selector col-lg-10">
        <h2 class="country-title">Which Countries Are You Planning on Visiting?</h2>
          <div class="row justify-content-center">
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-primary btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample1" aria-expanded="false" 
                aria-controls="multiCollapseExample1">North America</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-primary btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample2" aria-expanded="false" 
                aria-controls="multiCollapseExample2">South America</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-primary btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample3" aria-expanded="false" 
                aria-controls="multiCollapseExample3">Europe</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-primary btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample4" aria-expanded="false" 
                aria-controls="multiCollapseExample4">Africa</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-primary btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample5" aria-expanded="false" 
                aria-controls="multiCollapseExample5">Asia/Oceania</button>
            </div>
              
            
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body">
                    <!--OPTIONS-->
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                        Default checked radio
                      </label>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body">
                    <p>South America</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                  <div class="card card-body">
                    <p>Europe</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                  <div class="card card-body">
                    <p>Africa</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample5">
                  <div class="card card-body">
                    <p>Asia/Oceania</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>