    <!--    Start Destination Selection (Mark)    -->
  <div class="container-fluid">
    <div class="country-container row grid ">
      <div class="country-selector col-lg-12">
        <h2 class="country-title">Which Countries Are You Planning on Visiting?</h2>
          <div class="row justify-content-center">
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-light btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample1" aria-expanded="false" 
                aria-controls="multiCollapseExample1">North America</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-light btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample2" aria-expanded="false" 
                aria-controls="multiCollapseExample2">South America</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-light btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample3" aria-expanded="false" 
                aria-controls="multiCollapseExample3">Europe</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-light btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample4" aria-expanded="false" 
                aria-controls="multiCollapseExample4">Africa</button>
            </div>
            <div class="col-md-2">
              <button class="continent-btn btn btn-outline-light btn-lg" type="button" data-bs-toggle="collapse" 
                data-bs-target="#multiCollapseExample5" aria-expanded="false" 
                aria-controls="multiCollapseExample5">Asia/Oceania</button>
            </div>
              
            
            <div class="row justify-content-center">
              <div class="col-md-2 justify-content-center">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body">
                    <!--OPTIONS-->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault1">
                        <p>Bahamas</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault2">
                        <p>Canada</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault3">
                        <p>Jamaica</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault4">
                        <p>Mexico</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault5">
                        <p>United States of America</p>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault6">
                        <p>Argentina</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault7">
                        <p>Brazil</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault8">
                        <p>Chile</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault9">
                        <p>Peru</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault10">
                        <p>Uruguay</p>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                  <div class="card card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault11">
                        <p>France</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault12">
                        <p>Germany</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault13">
                        <p>Portugal</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault14">
                        <p>Spain</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault15">
                        <p>United Kingdom</p>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                  <div class="card card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault16">
                        <p>Egypt</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault17">
                        <p>Madagascar</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault18">
                        <p>Morocco</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault19">
                        <p>Nigeria</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault20">
                        <p>South Africa</p>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="collapse multi-collapse" id="multiCollapseExample5">
                  <div class="card card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault21">
                        <p>Japan</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault22">
                        <p>Nepal</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault23">
                        <p>Singapore</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault24">
                        <p>South Korea</p>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault25">
                        <p>Thailand</p>  
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Dropdown Selectors-->
          </div>
          <div class="row justify-content-center">
            <div class="col-md-2">
              <!--Button-->
              <button type="button" class="submit-btn btn btn-outline-primary btn-lg px-5">Submit</button>
            </div>
          </div>
      </div>
    </div>
  </div>